.pie{
    visibility: visible;
    background-color: rgb(20,159,181);
    color: white;
    display: flex;
    justify-content: space-between;
}
#menu.container{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}
.img-caracteristicas{
    width: 50%;
    height: 90%;
    margin-left:20%;
}